@import './lib/';

.header {
  width: 100%;
  // height: 115px;
  height: 55px;
  position: relative;
  margin-bottom: 33px;

  @include bp(sm) {
    margin-bottom: 46px;
  }

  @include bp(md) {
    height: 75px;
    margin-bottom: 86px;
  }
}
.header:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 100%;
  background-image: url(../images/navigation-line.svg);
  background-size: cover;
  aspect-ratio: 1455 / 16;
}

.header .row,
.header .container {
  height: 100%;
}

.header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  width: 100px;
  height: auto;

  @include bp(md) {
    width: 141px;
  }
}

.header__links {
  display: block;
}

.header__links ul {
  display: block;
}

.header__links li {
  display: block;
}

.header__links a {
  transition: background-color 0.4s;
  color: var(--header-nav-color);
  font-family: var(--font-primary);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 42px; /* 233.333% */
  text-decoration: none;

  @include bp(md) {
    font-size: 18px;
  }
}

.header__links a.active,
.header__links a:hover {
  background: linear-gradient(
    90deg,
    #ee417e 0%,
    #f68743 15%,
    #ffc711 30%,
    #b7d433 45%,
    #00a79d 60%,
    #3bc3de 75%,
    #3d5997 90%,
    #943f98 100%
  );
  -webkit-background-clip: text;
  color: transparent;
}
